.container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  background-image: url("../../../assets/general/bitcoinApps/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 9.25rem max(3rem, calc(50vw - 32.8rem));
}

.header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.apps {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.appImage {
  width: 6.25rem;
  height: 6.25rem;
}

.appListWrapper {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  gap: 1.5rem;
  align-items: flex-start;
}
