.container {
  width: 100%;
  min-height: calc(100vh - var(--default-nav-height));
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  justify-content: center;
  align-items: center;
  padding: 7rem 1rem;
}

.title {
  max-width: 35rem;
  text-align: center;
}

.subtitle {
  max-width: 26.9rem;
  text-align: center;
}
