/* This file should contain any global CSS rules. Any component specific CSS should be in the component's .module.css file. */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

:root {
  /* Color styles */
  --primary: #17a1fa;
  --secondary: #7a61ff;
  --tertiary: #ff00ff;
  --black: #0a2942;
  --gray---default: #636b78;
  --gray---light: #a1a6ad;
  --gray---lighter: #d1d4d6;
  --dark-bg: #111827;
  --cyan---default: #c0e8f6;

  /* Text-size styles */
  /* base size: body (16px) */
  --display: 3rem;
  --headline: 2rem;
  --title: 1.5rem;
  --body: 1rem;
  --small: 0.88rem;
  --h1: 3.75rem;
  --h2: 2.75rem;
  --h3: 2rem;
  --h4: 1.5rem;
  --h5: 1.125rem;
  --c1: 1rem;
  --c2: 0.88rem;
  --default-nav-height: 4.75rem;

  /* Effect styles */
  --card-website: 5px 5px 30px rgba(217, 217, 217, 1);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

/* General Classes */

.heroBackground {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

/* Media Query for Tablet screens */
@media only screen and (max-width: 768px) {
  html {
    font-size: 0.9rem;
  }
}

/* Media Query for Mobile screens */
@media only screen and (max-width: 425px) {
  html {
    font-size: 0.8rem;
  }
}
